@model AjaxDemo.Models.Spot

@{
    ViewData["Title"] = "Homework1";
}

<h1>景點介紹</h1>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="container">
    </div>
</div>

@section Scripts {
    <script src="~/js/travel.js"></script>

    <script>
        const container = document.querySelector('#container');
        const sections = spots.CommonFormat.Section;
        const cards = sections.map(section => {
            const { stitle, xbody, address, file } = section;
            return (`
                    <div class="col">
                       <div class="card hover-card p-2 m-2 h-100" style="width: 25rem;">
                            <img src="${file.img.text || file.img[0].text}" class="card-img-top" alt="${file.img["@@description"] || file.img['@@description']}" width=300 height=200>
                            <div class="card-body">
                                <h4 class="card-title"><strong>${stitle}</strong></h4>
                                <p class="card-text">${xbody.length > 150 ? xbody.substring(0, 150).concat('...') : xbody}</p>
                            </div>
                        </div>
                    </div>
            `);
        });

        container.innerHTML = cards.join('');


    </script>
}


@section Styles{
    <style>
        .hover-card {
            transition: all 0.3s ease;
        }

            .hover-card:hover {
                transform: scale(1.08); /* 放大~~~ */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

        .card-img-top {
            width: 100%;
            height: auto;
        }
    </style>
}
