@model AjaxDemo.Models.Spot

@{
    ViewData["Title"] = "Homework1";
}

<h1>景點介紹</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">北投溫泉溫泉博物館</h5>
                <p class="card-text truncate-text">
                    北投溫泉從日據時代便有盛名，深受喜愛泡湯的日人自然不會錯過，瀧乃湯、星乃湯、鐵乃湯就是日本人依照溫泉的特性與療效給予的名稱，據說對皮膚病、神經過敏、氣喘、風濕等具有很好的療效，也因此成為了北部最著名的泡湯景點之一。新北投溫泉的泉源為大磺嘴溫泉，泉質屬硫酸鹽泉，PH值約為3~4之間，水質呈黃白色半透明，泉水溫度約為50-90℃。
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D906/E6/F186/809f30db-7079-421f-a625-7baa8ec21874.JPG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">大稻埕</h5>
                <p class="card-text truncate-text">
                    大稻埕原是平埔族的居住地，因萬華（艋舺）同安人發生激烈的械鬥，造成族人移至大稻埕定居，開始大稻埕淡水河旁商店和房屋的興建，淡水港開放後，大稻埕在劉銘傳的治理下成為臺北城最繁華的物資集散中心，當中以茶葉、布料為主要貿易交易，當時的延平北路及貴德街一帶便是商業活動的重心，也讓大稻埕早年的歷史多采多姿、令人回味。 "
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D7/E150/F719/71eb4b56-f771-43bc-856c-2fb265a5cc6e.jpg" class="card-img-top" alt="士林官邸">
            <div class="card-body">
                <h5 class="card-title">士林官邸</h5>
                <p class="card-text truncate-text">
                    士林官邸有精緻的庭園造景設計，蟲鳴鳥叫、 景色秀麗，是休閒遊憩的絕佳場所。當年因為緊鄰著中山北路，佔據極佳的地理位置，可快速直達總統府，加上後有福山做為倚靠，優越的地勢，所以成為蔣故總統官邸。1996年，官邸首度開放市民觀賞園藝與休憩使用。 玫瑰園，是蔣夫人最喜愛的花園；西式庭園中浪漫美好的風光，是新人婚紗照最常取景的地方；中式庭園裡的拱橋、曲池、流水等東方庭園造景，則令人彷彿置身古代中式庭院。其他如園藝館、新蘭亭、凱歌堂等等，都是十分具有特色的建築。"
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000721.jpg" class="card-img-top" alt="國立故宮博物院">
            <div class="card-body">
                <h5 class="card-title">國立故宮博物院</h5>
                <p class="card-text truncate-text">
                    國立故宮博物院於1965年在外雙溪落成，中國宮殿式的建築，一至三樓為展覽陳列空間，四樓為休憩茶座「三希堂」，藏有全世界最多的中華藝術寶藏，收藏品主要承襲自宋、元、明、清四朝，幾乎涵蓋了整部五千年的中國歷史，數量達65萬多件，國立故宮博物院擁有「中華文化寶庫」的美名。國立故宮博物院除了展覽品豐富以外，提供中、英、法、德、日、西、韓等七國語言專業導覽，並定期舉辦各類文物研習課程、專題演講及巡迴展出活動，出版百種以上的刊物及專輯，實為世界的文化寶地，國立故宮博物院是來臺灣旅遊的必訪之地。"
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D70/E355/F727/a43a93db-8f89-4a4c-bcc7-e4848083bf8b.jpg" class="card-img-top" alt="北投圖書館">
            <div class="card-body">
                <h5 class="card-title">北投圖書館</h5>
                <p class="card-text truncate-text">
                    北投除了是知名的溫泉區，還擁有全臺灣第一座綠建築圖書館。這座特別的圖書館就位在林木茂密、生態環境豐富的北投公園裡面，和溫泉博物館為鄰。這座圖書館榮獲綠建築九大指標候選證書，整棟建築物採用大片落地窗，大量的利用自然光線，並且巧妙地向大自然借景。建築物以木構造為主，搭配鋼材，外觀像是一座大型的高架樹屋，看起來十分親切。圖書館由內到外，都很環保喔！屋頂上設有太陽能光電板發電，經過白天日光照射後可儲存16千瓦的電力；陽台的柵欄也有特殊的環保功能喔，垂直的木格設計，可以降低進入室內的輻射線，達到節能效果。屋頂上的草皮的特殊排水設計，可以回收大自然的水，用來澆灌植物和作為廁所用水。另外，圖書館特別使用生態塗料，以減少污染及有毒物質的釋放。來到北投，除了可以泡溫泉，也可以來北投圖書館，享受書香與綠意融合的森林浴！"
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000985.jpg" class="card-img-top" alt="陽明山溫泉區">
            <div class="card-body">
                <h5 class="card-title">陽明山溫泉區</h5>
                <p class="card-text truncate-text">
                    陽明山舊稱草山，因紀念明朝學者王陽明而改名為陽明山，它是臺北的都市後花園，位居近郊，是大家很方便就可以遠離塵囂，休閒的好去處。由於它位居火山地帶，特殊的火山地形及地質構造，造就了這一區的溫泉景觀。陽明山溫泉大致可分為4個區域：陽明山國家公園周邊、冷水坑、馬槽及火庚子坪，由於地熱運動頻繁，這4個區域溫泉所含的礦物成分都不同，使得其水溫、泉質與療效也大不相同。 陽明山位於大屯火山區，溫泉在陽明山風景區內，分前山溫泉和後山溫泉兩塊，有很多溫泉旅館，加上山上眾多風景區和美食，很適合兩天一夜的登山遊園泡湯之旅。"
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D8/E522/F82/a484053b-bdb9-4c1f-87c3-12408399e743.jpg" class="card-img-top" alt="關渡">
            <div class="card-body">
                <h5 class="card-title">關渡、金色水岸、八里左岸自行車道</h5>
                <p class="card-text truncate-text">
                    基隆河匯入淡水河之前，繞著社子島轉出一個美麗的弧彎，在其北岸與磺港溪以西地帶，保留了都會臺北極其珍貴的稻香田園，連結起河口紅樹林自然保護區，讓人得以在很短的距離內隔絕塵囂嘈雜，單車踩踏其間，尤其能夠體會早年農村氛圍的樸素簡單、踏實自在。夕照裡堤道漫步，河風微微、鳥鳴吱吱，關渡自然保護區生機盎然中，獨有浪漫閒適的野趣滿點。 穿越關渡平原的自行車道，是全線非封閉性的路徑，西側端點為關渡宮，往東沿著關渡防潮堤至八仙福德祠，轉90度往北穿越關渡平原，直到北投中央北路捷運軌道南側，穿出去便是政戰學校西邊的稻香路。 無法自行攜帶單車的遊人，以關渡宮為起點較方便，一則靠近捷運站，再者可於該處租到自行車或雙人協力車。 關渡宮沿河堤段原有的攤販已完全撤離，改成好走的人行步道，跨越中港河小橋旁停泊的漁船也外移至淡水河邊，雖然少了扁舟停泊的漁港懷舊味，水域卻也另有清爽的風貌。 ",
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D31/E337/F270/85f03be7-cd0c-4bde-812f-7b7f603d7281.jpg" class="card-img-top" alt="大安森林公園">
            <div class="card-body">
                <h5 class="card-title">大安森林公園</h5>
                <p class="card-text truncate-text">
                    大安森林公園佔地約26公頃，於民國八十三年三月二十九日啟園。雖位於台北市區中心，但卻是一個草木濃密的生態公園，以「都會森林」的型態成為台北市的都市之肺。公園內除有綠樹成蔭之外，更有花壇處處，每逢花開時節色彩繽紛，令人賞心悅目。公園外人行道則以綠樹與道路區隔，臨建國南路為盾柱木，臨和平東路為樟樹、臨新生南路為白千層、臨信義路則為榕樹，人行道中央還植有楓香樹，呈現多層式綠籬景觀。此外，各種休憩設施如行人座椅、涼亭、音樂舞台、慢跑道……等各種設施相當完善，公園下方並設置有地下停車場以方便開車前來的民眾，已成為台北市民休閒最佳場所之一。捷運大安森林公園站號稱是「臺北最美捷運站」的大安森林公園站，以「森林轉運—都會與公園的對話」為車站設計主題構想，闡明都會公園所營造之自然特性。整體建築、景觀設計，主要結合緊鄰在旁而面積達25.8公頃的大安森林公園，以「引進陽光、綠意」之地下車站進行設計，其中並包含陽光大廳、下凹庭園、光廊、光塔等。設計中透過充分結合大自然的元素「楊光與森林」，展現出自然中豐富的生命力與奧妙，再透過不同層次空間的塑造及轉換，令身處其中能產生體驗、體悟上的驚喜。空間的內涵，則展現出中國文化天人合一、圓融自在的意境。資料來源：臺北捷運"
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">回到首頁</a>
</div>

@section Styles {
    <style>
        .card {
            height: 100%;
        }

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5; /* 顯示行數 */
            -webkit-box-orient: vertical;
        }
    </style>
}

@section Scripts {
    <script src="~/js/travel.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const truncateTextElements = document.querySelectorAll('.truncate-text');

            truncateTextElements.forEach(element => {
                const text = element.textContent.trim();
                const maxLength = 100;

                if (text.length > maxLength) {
                    element.textContent = text.slice(0, maxLength) + '...';
                }
            });
        });

        console.log(spots.CommonFormat.Section)
        console.log(spots.CommonFormat.Section.length)
    </script>
}
