@model AjaxDemo.Models.Spot

@{
    ViewData["Title"] = "Homework1";
}


<h1>景點介紹</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="container">
    </div>
</div>
<br />

@section Styles {
    <style>
        .hover-card {
            transition: all 0.3s ease;
        }

            .hover-card:hover {
                transform: scale(1.08); /* 放大~~~ */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                opacity: 80%
            }

        .card-img-top {
            width: 100%;
            height: auto;
        }
    </style>
}

@section Scripts {
    <script src="~/js/travel.js"></script>

    <script>
        const container = document.querySelector('#container');
        const sections = spots.CommonFormat.Section;
        const cards = sections.map(section => {
            const { stitle, xbody, address, file } = section;
            return (`
                            <div class="col">
                               <div class="card hover-card p-3 m-3 h-100" style="width: 23rem;">
                                    <img src="${file.img.text || file.img[0].text}" class="card-img-top" alt="${file.img["@@description"] || file.img['@@description']}" width=300 height=200>
                                    <div class="card-body">
                                                        <h4 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                  <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z"/>
                  <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1"/>
                </svg><strong> ${stitle}</strong></h4>
                                        <p class="card-text">${xbody.length > 150 ? xbody.substring(0, 150).concat('...') : xbody}</p>
                                    </div>
                                </div>
                            </div>
                    `);
        });

        container.innerHTML = cards.join('');

        const hoverCards = document.querySelectorAll('.hover-card');

        hoverCards.forEach(card => {
            card.addEventListener('mouseover', () => {
                hoverCards.forEach(otherCard => {
                    if (otherCard !== card) {
                        otherCard.style.opacity = '0.60';
                    }
                });
                card.style.opacity = '1';
            });

            card.addEventListener('mouseout', () => {
                hoverCards.forEach(otherCard => {
                    otherCard.style.opacity = '1';
                });
            });
        });


    </script>
}
