@model AjaxDemo.Models.Spot

@{
    ViewData["Title"] = "Homework1";
}


<h1>景點介紹</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="container">
    </div>
</div>
<br />

@section Styles {
    <style>
        .hover-card {
            transition: all 0.3s ease;
        }

            .hover-card:hover {
                transform: scale(1.08); /* 放大~~~ */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                opacity: 80%
            }

        .card-img-top {
            width: 100%;
            height: auto;
        }
    </style>
}

@section Scripts {
    <script src="~/js/travel.js"></script>

    <script>
        const container = document.querySelector('#container');
        const sections = spots.CommonFormat.Section;
        const cards = sections.map(section => {
            const { stitle, xbody, address, file } = section;
            return (`
                    <div class="col">
                       <div class="card hover-card p-2 m-2 h-100" style="width: 25rem;">
                            <img src="${file.img.text || file.img[0].text}" class="card-img-top" alt="${file.img["@@description"] || file.img['@@description']}" width=300 height=200>
                            <div class="card-body">
                                        <h4 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z" />
                </svg><strong> ${stitle}</strong></h4>
                                <p class="card-text">${xbody.length > 150 ? xbody.substring(0, 150).concat('...') : xbody}</p>
                            </div>
                        </div>
                    </div>
            `);
        });

        container.innerHTML = cards.join('');

        const hoverCards = document.querySelectorAll('.hover-card');

        hoverCards.forEach(card => {
            card.addEventListener('mouseover', () => {
                hoverCards.forEach(otherCard => {
                    if (otherCard !== card) {
                        otherCard.style.opacity = '0.60';
                    }
                });
                card.style.opacity = '1';
            });

            card.addEventListener('mouseout', () => {
                hoverCards.forEach(otherCard => {
                    otherCard.style.opacity = '1';
                });
            });
        });


    </script>
}
